<%= provide :title, @post.title %>
<%= provide :description, '' %>
<%= provide :keywords, '' %>

<section id="content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div id="heading">
              <h1 class='text-center'><%= @post.title %></h1>
              <br />

              <ul class="text-center list-unstyledt list-inline">
                <li>
                  <i class="fa-solid fa-tag"></i>
                  Carreira
                </li>
                <li>
                  <i class="fa-regular fa-calendar"></i>
                  about <%= time_ago_in_words(@post.created_at) %>
                </li>
                <li>
                  <i class="fa-regular fa-clock"></i>
                  <%= @post.reading_time %>
                </li>
              </ul>
            </div>

            <div id="body"><br />
              <%= raw(@post.body) %>
            </div>

            <div id="recomendations"><br />
              <h3 class='bold text-center'>Recomendations for you</h3>

              <div class='row'><br />
                <% Post.all.limit(3).each do |post| %>
                  <%= render partial: 'blog/posts/post/', locals: { post: post } %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>