<header id="header">
  <nav class="navbar navbar-default">
  <div class="container container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <%= link_to root_path, 
        class: 'navbar-brand' do %>
          Ruby Polska
      <% end %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      </ul>

      <ul class="nav navbar-nav navbar-center navbar-email">
        <li>
          <%= link_to 'mailto:witaj@rubypolska.pl' do %>
            <i class="fa-regular fa-envelope"></i>
            witaj@rubypolska.pl
          <% end %>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Become a partner', '#' %></li>
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'Blog', blog_posts_path %></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</header>
