<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <title><%= yield :title %> | Ruby Polska</title>
    <meta charset="utf-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style type="text/css"><%= yield :stylesheet %></style>
    <script type="text/javascript"><%= yield :javascript %></script>
    <script src="https://kit.fontawesome.com/5165849ba2.js" crossorigin="anonymous"></script>
  </head>
  <body class="<%= controller.controller_name %>" data-spy='scroll'>
    <%= render partial: 'layouts/header' %>
      <%= yield %>
    <%= render partial: 'layouts/footer' %>
  </body>
</html>
